// COLORS
$primary-color: #eb3349; 
$secondary-color: #f45c43;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #FFFAFA;

$dark-grey: #2c5364;

$dark-blue-text: #1a191d; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
